<!DOCTYPE HTML>
<div class="header"> 
	<h1> Hitch <h1> 
</div> 
<h2>Welcome, <%= user.kerberos %></h2>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href='/'>Rides</a></li>
  <li role="presentation"><a href='/users/my_rides'>My Rides</a></li>
  <li role="presentation"><a href='/rides/new_ride'>New Ride</a></li>
  <li role="presentation"><a href='/users/user/<%= user._id %>'> <%= user.kerberos %> </a></li>
  <li role="presentation"><a href='/users/logout'>Logout</a></li>
</ul>

