<!DOCTYPE HTML>
<html>
  <head>
    <title>Reviews</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
  </head>
  <body>
    <header>
      <% include header %>
    </header>

    <h4><b>Riders Who Rode With You</b></h4>
      <ul>
        <% for (var i = 0; i < other_riders.length; ++i) { %>
          <li>
            <form action="/reviews/<%= ride_id %>" method="post">
              <h5><b><%= other_riders[i].kerberos %></b></h5>
              <p>Comment:</p>
              <p><textarea name="comment" cols="50" rows="4"></textarea></p>
              <p><input type="submit" value="Update"></p>
            </form>
          </li>
        <% } %>
      </ul>
  </body>
</html>

