<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h2>Welcome, <%= username %></h2>
    <p>Create a new ride!</p>
    
    <form method="post" action="tweets/tweet">
      <textarea  name = 'tweet' rows="4" cols="50"></textarea>
      <p><button type="submit">Add</button></p>
    </form>

  </body>
</html>
