<!DOCTYPE HTML>
<!-- This should have the past + current rides for a user -->

<html>
  <head>
    <title>User page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <% if (typeof(e) !== 'undefined') { %>
      <div id='error'> <%= e %> </div>
    <% } %>
    <h1>Rides</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Rating</th>
          <th>Reviewer</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < reviews.length; ++i) { %>
          <td><%= reviews[i].rating %></td>
          <td><%= reviews[i].reviewer %></td>
          <td><%= reviews[i].comment %></td>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
